@import "../../app/puzzle-view/constants.css";

.pieces{
    position: absolute;
    left: calc(var(--left)*var(--tile-size));
    right:0;
    top:0;
    bottom: calc(var(--bottom)*var(--tile-size));
}

.piece{
    width: var(--width);
    height: var(--height);
    position: absolute;
    background-size:var(--backgroundSize);

}

.piece.bk {background-image: url('../../assets/bk.png');}
.piece.bq {background-image: url('../../assets/bq.png');}
.piece.br {background-image: url('../../assets/br.png');}
.piece.bb {background-image: url('../../assets/bb.png');}
.piece.bn {background-image: url('../../assets/bn.png');}
.piece.bp {background-image: url('../../assets/bp.png');}
.piece.wk {background-image: url('../../assets/wk.png');}
.piece.wq {background-image: url('../../assets/wq.png');}
.piece.wr {background-image: url('../../assets/wr.png');}
.piece.wb {background-image: url('../../assets/wb.png');}
.piece.wn {background-image: url('../../assets/wn.png');}
.piece.wp {background-image: url('../../assets/wp.png');}

 .piece.p-07 {transform: translate(0%,0%);}
.piece.p-17 {transform: translate(calc(var(--xfactor),0%));}
.piece.p-27 {transform: translate(calc(var(--xfactor)*2),0%);}
.piece.p-37 {transform: translate(calc(var(--xfactor)*3),0%);}
.piece.p-47 {transform: translate(calc(var(--xfactor)*4),0%);}
.piece.p-57 {transform: translate(calc(var(--xfactor)*5),0%);}
.piece.p-67 {transform: translate(calc(var(--xfactor)*6),0%);}
.piece.p-77 {transform: translate(calc(var(--xfactor)*7),0%);}

.piece.p-06 {transform: translate(0%,calc(var(--yfactor)*1));}
.piece.p-16 {transform: translate(calc(var(--xfactor)),calc(var(--yfactor)*1));}
.piece.p-26 {transform: translate(calc(var(--xfactor)*2),calc(var(--yfactor)*1));}
.piece.p-36 {transform: translate(calc(var(--xfactor)*3),calc(var(--yfactor)*1));}
.piece.p-46 {transform: translate(calc(var(--xfactor)*4),calc(var(--yfactor)*1));}
.piece.p-56 {transform: translate(calc(var(--xfactor)*5),calc(var(--yfactor)*1));}
.piece.p-66 {transform: translate(calc(var(--xfactor)*6),calc(var(--yfactor)*1));}
.piece.p-76 {transform: translate(calc(var(--xfactor)*7),calc(var(--yfactor)*1));}

.piece.p-05 {transform: translate(calc(var(--xfactor)*0),calc(var(--yfactor)*2));}
.piece.p-15 {transform: translate(calc(var(--xfactor)*1),calc(var(--yfactor)*2));}
.piece.p-25 {transform: translate(calc(var(--xfactor)*2),calc(var(--yfactor)*2));}
.piece.p-35 {transform: translate(calc(var(--xfactor)*3),calc(var(--yfactor)*2));}
.piece.p-45 {transform: translate(calc(var(--xfactor)*4),calc(var(--yfactor)*2));}
.piece.p-55 {transform: translate(calc(var(--xfactor)*5),calc(var(--yfactor)*2));}
.piece.p-65 {transform: translate(calc(var(--xfactor)*6),calc(var(--yfactor)*2));}
.piece.p-75 {transform: translate(calc(var(--xfactor)*7),calc(var(--yfactor)*2));}

.piece.p-04 {transform: translate(0%,calc(var(--yfactor)*3));}
.piece.p-14 {transform: translate(calc(var(--xfactor)*1),calc(var(--yfactor)*3));}
.piece.p-24 {transform: translate(calc(var(--xfactor)*2),calc(var(--yfactor)*3));}
.piece.p-34 {transform: translate(calc(var(--xfactor)*3),calc(var(--yfactor)*3));}
.piece.p-44 {transform: translate(calc(var(--xfactor)*4),calc(var(--yfactor)*3));}
.piece.p-54 {transform: translate(calc(var(--xfactor)*5),calc(var(--yfactor)*3));}
.piece.p-64 {transform: translate(calc(var(--xfactor)*6),calc(var(--yfactor)*3));}
.piece.p-74 {transform: translate(calc(var(--xfactor)*7),calc(var(--yfactor)*3));}

.piece.p-03 {transform: translate(0%,calc(var(--yfactor)*4));}
.piece.p-13 {transform: translate(calc(var(--xfactor)*1),calc(var(--yfactor)*4));}
.piece.p-23 {transform: translate(calc(var(--xfactor)*2),calc(var(--yfactor)*4));}
.piece.p-33 {transform: translate(calc(var(--xfactor)*3),calc(var(--yfactor)*4));}
.piece.p-43 {transform: translate(calc(var(--xfactor)*4),calc(var(--yfactor)*4));}
.piece.p-53 {transform: translate(calc(var(--xfactor)*5),calc(var(--yfactor)*4));}
.piece.p-63 {transform: translate(calc(var(--xfactor)*6),calc(var(--yfactor)*4));}
.piece.p-73 {transform: translate(calc(var(--xfactor)*7),calc(var(--yfactor)*4));}

.piece.p-02 {transform: translate(0%,calc(var(--yfactor)*5));}
.piece.p-12 {transform: translate(calc(var(--xfactor)*1),calc(var(--yfactor)*5));}
.piece.p-22 {transform: translate(calc(var(--xfactor)*2),calc(var(--yfactor)*5));}
.piece.p-32 {transform: translate(calc(var(--xfactor)*3),calc(var(--yfactor)*5));}
.piece.p-42 {transform: translate(calc(var(--xfactor)*4),calc(var(--yfactor)*5));}
.piece.p-52 {transform: translate(calc(var(--xfactor)*5),calc(var(--yfactor)*5));}
.piece.p-62 {transform: translate(calc(var(--xfactor)*6),calc(var(--yfactor)*5));}
.piece.p-72 {transform: translate(calc(var(--xfactor)*7),calc(var(--yfactor)*5));}

.piece.p-01 {transform: translate(0%,calc(var(--yfactor)*6));}
.piece.p-11 {transform: translate(calc(var(--xfactor)*1),calc(var(--yfactor)*6));}
.piece.p-21 {transform: translate(calc(var(--xfactor)*2),calc(var(--yfactor)*6));}
.piece.p-31 {transform: translate(calc(var(--xfactor)*3),calc(var(--yfactor)*6));}
.piece.p-41 {transform: translate(calc(var(--xfactor)*4),calc(var(--yfactor)*6));}
.piece.p-51 {transform: translate(calc(var(--xfactor)*5),calc(var(--yfactor)*6));}
.piece.p-61 {transform: translate(calc(var(--xfactor)*6),calc(var(--yfactor)*6));}
.piece.p-71 {transform: translate(calc(var(--xfactor)*7),calc(var(--yfactor)*6));}

.piece.p-00 {transform: translate(0%,calc(var(--yfactor)*7));}
.piece.p-10 {transform: translate(calc(var(--xfactor)*1),calc(var(--yfactor)*7));}
.piece.p-20 {transform: translate(calc(var(--xfactor)*2),calc(var(--yfactor)*7));}
.piece.p-30 {transform: translate(calc(var(--xfactor)*3),calc(var(--yfactor)*7));}
.piece.p-40 {transform: translate(calc(var(--xfactor)*4),calc(var(--yfactor)*7));}
.piece.p-50 {transform: translate(calc(var(--xfactor)*5),calc(var(--yfactor)*7));}
.piece.p-60 {transform: translate(calc(var(--xfactor)*6),calc(var(--yfactor)*7));}
.piece.p-70 {transform: translate(calc(var(--xfactor)*7),calc(var(--yfactor)*7));}